@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 100%;
  min-height: 100vh;
  background-image: url("../img/sfondo.png");
  background-repeat: round;
}

.main-wrapper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

header {
  background-color: #2cb9ff;
  text-align: center;
  padding: 15px;
}

header > img {
  width: 50%;
  margin-top: 1em;
}

header > p {
  color: white;
  font-weight: bold;
  margin-top: 0.5em;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
p {
  font-size: 1em;
}

header ul {
  margin-top: 1px;
}

header li {
  margin: 0.5em;
}

header a {
  color: white;
  text-decoration: none;
}

header i {
  color: white;
  padding: 0.3em;
  font-size: small;
}

h1,
h2 {
  font-weight: bold;
  margin: 0.5em 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
}

main {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

main .special-p {
  color: gray;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

main p span {
  color: #bd38e6;
  font-weight: 500;
}

main > ul {
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style-type: disc;
}

main > ol {
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style-type: decimal;
}

caption {
  font-weight: 600;
}

table {
  text-align: center;
  margin: auto;
}

th {
  background-color: #2a6effbd;
  padding: 1em;
  color: white;
  border: 1px solid white;
}

td {
  padding: 0.5em;
}

.special-tr {
  background-color: #dad9d9;
}

hr {
  background-color: #2a6effbd;
  height: 1px;
}

main p {
  margin: 1.5em;
}

main a {
  font-family: "Montserrat", sans-serif;
  color: #269aff;
  text-decoration: underline;
  font-weight: bold;
}

iframe {
  width: 100%;
  border-radius: 20px;
}

form {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  text-align: center;
  background-color: rgb(186, 186, 186);
}

button {
  background-color: #2a6effbd;
  color: white;
  border-color: #2a6effbd;
}
main h2 {
  text-align: center;
}

main div p {
  margin: 0.3em;
}

main article {
  background-color: #bababa;
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

article p {
  margin: 0;
}

article div {
  text-align: end;
}

footer {
  text-align: center;
  margin-top: 20px;
  background-color: #095450;
  color: white;
  padding: 20px;
}

footer address a {
  color: #bd38e6;
  font-weight: bold;
}

footer p {
  margin-bottom: 1em;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
